@font-face {
  font-family: bdPlakatt;
  src: url("../assets/fonts/bdplakatbau.ttf");
}
@font-face {
  font-family: overpassMonoBold;
  src: url("../assets/fonts/overpass-mono-bold.ttf");
}
@font-face {
  font-family: overpassMonoLight;
  src: url("../assets/fonts/overpass-mono-light.ttf");
}
@mixin title {
  /* @import url("https://use.typekit.net/vdl7wew.css");
  font-family: bd-palaktbau, sans-serif; */
  font-family: bdPlakatt, Helvetica, Arial, sans-serif;
}
@mixin bold {
  font-family: overpassMonoBold, Helvetica, Arial, sans-serif;
}
@mixin light {
  font-family: overpassMonoLight, Helvetica, Arial, sans-serif;
}
