@mixin headings($size, $line) {
  font-size: $size;
  line-height: $line;
}
body {
  @include light;
  color: white;
}
/* Header */
h1 {
  @include headings(2rem, 2rem);
  @include title;
  letter-spacing: 4px;
  text-transform: uppercase;
}
/* Header */
h2 {
  @include headings(2rem, 1.6rem);
  @include bold;
}
/* Subheader */
h3 {
  @include headings(1.6rem, 1.2rem);
  @include bold;
}
/* Paragraph & comments */
h4 {
  @include headings(1.6rem, 1.2rem);
  @include light;
}
h5 {
  @include headings(1.2rem, 0.8rem);
  @include light;
}
p {
  @include headings(0.8rem, 1.1rem);
  @include light;
}
